*{
    font-family:  Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(59, 59, 184);
}

p{
    text-align: justify;
}

.center{
    text-align: center;
}

textarea{
    resize: none;
}

h2{
    background-color: rgb(223, 223, 223);
}